/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
  
}



/* Navbar Styles */
.navbar {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 10px;
}

.navbar .navbar-brand img {
  height: 50px;
  margin-left: 10px;
}

.search-container {
  position: absolute;
  top: 8px;
  left: 30%;
  transform: translate(-50, 50);
  width: 30%;
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  background-color: black;
}

.search-container input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: gray;
  color: white;
  cursor: text;
}

.search-container input:focus {
  background-color: white;
  color: black;
  border-color: rgb(58, 58, 59);
  outline: none;
}

.search-container input::placeholder {
  font-weight: bold;
  /* Bold placeholder text */
  color: black;
  /* Change placeholder color (optional) */
}

.search-container button {
  background: gray;
  border: none;
  color: green;
  margin-left: 8px;
  cursor: pointer;
}

.search-container button:hover {
  color: white;
}


.sidebar {
  width: 80px;
  /* Full width when open */
  height: calc(85% - 60px);
  margin-left: 10px;
  background-color: #131313;
  /* Dark background color */
  position: fixed;
  top: 65px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  /* Smooth transition */
  overflow: hidden;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 1px;
}

.sidebar.open {
  width: 200px;
}

.sidebar a {
  display: flex;
  color: white;
  text-decoration: none;
}

/* .sidebar a:hover {
    background-color:#1c1b1b;
    color: #1c1b1b;
  } */

/* Sidebar Toggle Button */
.sidebar-toggle {
  position: fixed;
  top: 90px;
  left: 20px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  z-index: 1000;
}

.svg-button {
  background-color: #101820;
  /* Dark background */
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


/* SVG styles */
.svg-icon {
  width: 26px;
  /* Adjust size */
  height: 26px;
  fill: white;
  /* Icon color */
  transition: fill 0.3s ease;
}

.svg_icon {
  width: 26px;
  /* Adjust size */
  height: 26px;
  fill: white;
  /* Icon color */
  transition: fill 0.3s ease;
}

/* Change icon color on hover */
.svg-button:hover .svg-icon {
  fill: #101820;
}

.hidden_text {
  display: none;
  margin-left: 10px;
}

.sidebar.open .hidden_text {
  display: inline;
  color: white;

}

/* Styling for the Library button (You can also adjust this as needed) */
.sidebar .Library {
  padding-top: 20px;
  /* Add some padding at the top of the Library link */
  position: fixed;
}

/* Make sure My Music is below Library and stays in place */
.sidebar .my_music {
  position: absolute;
  /* Position it absolutely at the bottom */
  top: 90px;
  /* Add space from the bottom */
  left: 0;
  width: 50px;
  /* Make it span the full width of the sidebar */
  height: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #302d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(20%);
  /*border-top: 1px solid #444;  Optional: adds a line above the button */

}

.sidebar .my_music i {
  font-size: 24px;
}

.sidebar .my_music:hover {
  background-color: #514d4d;
  border-radius: 10px;
}

/* Optional: Additional styles for the icons */
.sidebar i {
  margin-right: 10px;
  /* Space between the icon and the text */
}

.music_area {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 100px;
  position: relative;
  width: 92vw;
  height: calc(85vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(180deg,#000000, #75091e);
  /* background-color: white; */
  border-radius: 10px;
  transition: margin-left 0.3s ease;
  box-shadow: #000000;
}

.section {
  height: 100vh;
  /* Each section takes full viewport height */
  scroll-snap-align: start;
  /* Snap to the start of each section */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: background-color 0.5s ease;
  /* Smooth background transition */
}

.nav_section {
  display: flex;
  align-items: left;
  /* margin-left: 20px; */
  /* padding: 10px; */
  background-color: transparent;
  box-shadow: 2px 1px 2px #5b0655;
  /* border-bottom: 1px solid white; */
}



.artist_container {
  display: flex;
  align-items: left;
  /* justify-content: space-between; */
}


.artist_image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-left: 5px;
  top: 10px;
}
.artists_image {
  width: 59vw;
  height: 300px;
}

.artist_info {
  display: flex;
  flex-direction: column;
}
.playlist_image {
  width: 30vw;
  height: 300px;
}

.playlist_info {
  /* display: flex;
  flex-direction: column; */
  margin-top: 70px;
  margin-left: 10px;
}

.playlist_info h2 {
  margin: 0;
  font-size: 4.5rem;
  /* margin-left: 10px; */
  font-weight: bold;
  /* margin-bottom: 2px; */
}

.playlist_info h3 {
  margin-left: 10px;
}

.playlist_info h5 {
  margin-top: 10px;
}

.artist_info h2 {
  margin: 0;
  font-size: 4rem;
  margin-left: 20px;
  font-weight: bold;
}

.artist_links {
  margin-top: 5px;
  margin-left: 20px;
}

.artist_links a {
  margin-top: 5px;
  margin: 5px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}


.artist_links a:hover {
  text-decoration: underline;
}

.artists_info h2 {
  margin: 0;
  font-size: 4rem;
  margin-left: 20px;
  font-weight: bold;
}

.artists_info h3 {
  
  margin-left: 20px;
  
}

.artist_stats {
  margin: 5px 0;
  color: white;
  font-size: 1rem;
  margin-left: 20px;
}


.play_button_container {
  display: flex;
  justify-content: left;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  /* margin-bottom: 2px; */
 
  /* Adds space between the content and the button */
}

.circle {
  width: 60px;
  height: 60px;
  background-color: red;
  /* Red circle */
  border-radius: 50%;
  /* Makes the div a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid black;
  /* Creates a triangle with black color */
  position: absolute;
  transform: rotate(270deg);
  /* Rotates the triangle to point right */
  margin-left: 4px;
}
.song-list {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide the header into 3 equal columns */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 10px 20px;
  z-index: 1000;
  height: 60px;
  width: 100%;
  
  background-color: black;
  
}



.header-title,
.header-album,
.header-duration {
  color: #fff;
  text-align: center;
}

.divider {
  border: 0;
  border-top: 2px solid #ccc;
  margin: 10px 0;
}

.song-item {
  display: grid;
  grid-template-columns: 30px 1.5fr 1.5fr 50px;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.song-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.track-number {
  color: #b3b3b3;
  text-align: center;
}

.song-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.song-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.text-content {
  display: flex;
  flex-direction: column;
}



.song-title {
  font-weight: bold;
  color: #fff;
}
.song-title a {
  text-decoration: none;
  color: inherit;
}

.song-title a:hover{
  text-decoration: underline;
}

.song-artist {
  color: #b3b3b3;
  font-size: 0.9rem;
}

.song-artist a{
  text-decoration: none;
  color: white;
}

.song-artist a:hover {
  text-decoration: underline;
}

.song-album {
  color: #b3b3b3;
}

.song-album a{
  text-decoration: none;
  color: white;
 }

.song-album a:hover{
  text-decoration: underline;
}


.song-duration {
  color: #b3b3b3;
  text-align: right;
}


